.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: rgba(94, 111, 119, 0.7);
  font-size: larger;
}

.message {
  color: rgba(94, 111, 119, 0.7);
}
